.tableContainer {
    display: flex;
    flex-direction: column;
    /* Убираем gap */
}

.headerRow,
.dataRow {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.headerCell,
.dataCell {
    flex: 1;
    padding: 1rem;
    box-sizing: border-box;
}

.headerRow {
    font-weight: 700;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}

.dataRow {
    border-top: 1px solid #dee2e6;
    transition: background-color 0.2s ease-in-out;
}

.dataRow:hover {
    background-color: #e9ecef;
}

.dataRow:last-child {
    border-bottom: 1px solid #dee2e6;
}

@media (max-width: 768px) {
    .headerCell,
    .dataCell {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 576px) {
    .headerCell,
    .dataCell {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.clickableRow {
    cursor: pointer;
}
